<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap5.css" />
  </head>
  <body>
    <!-- Start Homepage section-->
    <div class="wrapper">
      <!-- Sidebar -->
      <% include ../partial/sidebar %>
      <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
          <!--Button for sidebar toggle-->
          <button class="btn" type="button" data-bs-theme="dark">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <main class="content px-3 py-2">
          <div class="container-fluid">
            <div class="mb-3">
              <h1 class="mb-5">PMS Stock Management System Sale Report</h1>
              <div class="row">
                <div class="col-lg-2 col-md-12 col-sm-12"></div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="mb-3 row">
                    <label
                      for="inputPassword"
                      class="col-sm-4 col-form-label text-white"
                      >Start Date</label
                    >
                    <div class="col-sm-8">
                      <input type="date" class="form-control" id="start" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="mb-3 row">
                    <label
                      for="inputPassword"
                      class="col-sm-4 col-form-label text-white"
                      >End Date</label
                    >
                    <div class="col-sm-8">
                      <input type="date" class="form-control" id="end" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12">
                  <button class="btn btn-primary" id="checkBtn">Check</button>
                </div>
              </div>
              <table
                class="table table-bordered table-info display"
                id="example"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Slip No</th>
                    <th>Amount</th>
                    <th>PaidBy</th>
                    <th>Cashier</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th colspan="3" class="text-center">Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <% include ../partial/script %>
  <script src="/javascripts/dataTables.js"></script>
  <script src="/javascripts/dataTables.bootstrap5.js"></script>
  <script>
    var redraw = false;
    const data = new DataTable("#example", {
      ajax: "/report/getSaleList",
      columns: [
        {
          data: "id",
          render: function (data, type, row, meta) {
            console.log(meta);
            return meta.row + 1;
          },
        },
        { data: "dateStr" },
        { data: "slipNo" },
        { data: "grandAmount" },
        { data: "paidBy" },
        { data: "cashierId.name" },
      ],
      footerCallback: function () {
        var api = this.api(),
          data;

        // Remove the formatting to get integer data for summation
        var intVal = function (i) {
          return typeof i === "string"
            ? i.replace(/[\$,]/g, "") * 1
            : typeof i === "number"
            ? i
            : 0;
        };

        // Total over all pages
        var total = api
          .column(3, { page: "current" })
          .data()
          .reduce(function (a, b) {
            return intVal(a) + intVal(b);
          }, 0);

        $(api.column(3).footer()).html(total);
      },
      drawCallback: function () {
        if (redraw === false) {
          redraw = true;
          this.api().draw("page");
        } else {
          redraw = false;
        }
      },
      // rowCallback: function (row, data) {
      //   $("td:eq(0)", row).html(data[0] + "/" + $("tfoot th:eq(3)").text());
      // },
    });

    $("#checkBtn").click(function () {
      data.clear().draw();
      data.ajax
        .url(
          "/report/getSaleList?start=" +
            $("#start").val() +
            "&" +
            "end=" +
            $("#end").val()
        )
        .load();
    });
  </script>
</html>
